<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Password Changer</title>
</head>

<body>
<div class="login-card">
  <form>

    <div class="column">
      <label for="Email">Email:</label>
      <input [(ngModel)]="hour.hour_client" type="text" id="Email" name="Email" placeholder="E-mail..">

      <label for="Wachtwoord">Nieuw wachtwoord:</label>
      <input [(ngModel)]="hour.hour_project_name" type="text" id="Wachtwoord" name="Wachtwoord" placeholder="Wachtwoord..">

      <label for="Wachtwoord2">Herhaling wachtwoord:</label>
      <input [(ngModel)]="hour.hour_subproject_name" type="text" id="Wachtwoord2" name="Wachtwoord2" placeholder="Wachtwoord..">

      <input (click)="sendHour()" type="submit" value="Veranderen" id="submitButton">
    </div>
  </form>

</div>


</body>
