<div class="container">
<!--TODO: maak mooi overzichtelijk kiesmenu-->
  <!--TODO: haal alles op uit de database-->
  <!--TODO: zet het in models-->
  <!--TODO: haal het uit de models en weergeef het in het overzicht tab-->


  <form action="/action_page.php">
      <div class="row">
        <div class="column">
        <label for="employee">Werknemer</label>
          <input [(ngModel)]="statistic.werknemer" type="text" id="employee" name="employee" placeholder="Werknemer naam..">

        <br><br>

          <label for="project">Project</label>
          <input [(ngModel)]="statistic.project" type="text" id="project" name="project" placeholder="Project naam..">

          <br><br>

        <label for="subject">Onderwerp</label>
          <input [(ngModel)]="statistic.subproject" type="text" id="subject" name="subject" placeholder="Onderwerp naam..">

      </div>


      <div class="column">
        <label for="bDate">Start Datum</label><br>
        <input lang="NL" type="date" [(ngModel)]="statistic.bDate" id="bDate" name="date" placeholder="Voer datum in.."><br>

        <label for="eDate">Eind Datum</label><br>
        <input type="date" [(ngModel)]="statistic.eDate" id="eDate" name="date" placeholder="Voer datum in.."><br>


        <input (click)="sendStatistics()" type="submit" value="Submit" id="submitButton">
      </div>
    </div>

  </form>






</div>

<div class="container">
<p id="fillp"></p>
</div>
