<div class="container">
<!--TODO: maak mooi overzichtelijk kiesmenu-->
  <!--TODO: haal alles op uit de database-->
  <!--TODO: zet het in models-->
  <!--TODO: haal het uit de models en weergeef het in het overzicht tab-->



  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <p (click)="add('werknemer')" class="clicks">Werknemer</p>
      <p (click)="add('project')" class="clicks">Project</p>
      <p (click)="add('subproject')" class="clicks">SubProject</p>
    </div>
  </div>



  <!--<form action="/action_page.php">-->
    <!--<div class="row">-->
      <!--<div class="column">-->
        <!--<label for="customer">Klant</label>-->
        <!--<input [(ngModel)]="hour.hour_client" type="text" id="customer" name="customer" placeholder="Klant naam..">-->

        <!--<label for="project">Project</label>-->
        <!--<input [(ngModel)]="hour.hour_project_name" type="text" id="project" name="project" placeholder="Project naam..">-->

      <!--</div>-->

      <!--<div class="column">-->
        <!--<label for="Bdate">Vanaf...</label>-->
        <!--<br> <br>-->
        <!--&lt;!&ndash;<input [(ngModel)]="hour.hour_date" type="text" id="Bddate" name="date" placeholder="Voer datum in..">&ndash;&gt;-->
        <!--<input id="Bdate" type="date" placeholder="Voer datum in..">-->
        <!--<br> <br>-->
        <!--<label for="Edate">Tot...</label>-->
        <!--<br> <br>-->
        <!--&lt;!&ndash;<input [(ngModel)]="hour.hour_date" type="text" id="Edate" name="date" placeholder="Voer datum in..">&ndash;&gt;-->
        <!--<input id="Edate" type="date" placeholder="Voer datum in..">-->

        <!--<br> <br> <br>  <br> <br> <br>  <br> <br> <br>  <br> <br>-->

        <!--<input (click)="sendHour()" type="submit" value="Submit" id="submitButton">-->
      <!--</div>-->
    <!--</div>-->

  <!--</form>-->

</div>
