<div class="container">
<!--TODO: maak mooi overzichtelijk kiesmenu-->
  <!--TODO: haal alles op uit de database-->
  <!--TODO: zet het in models-->
  <!--TODO: haal het uit de models en weergeef het in het overzicht tab-->


  <form action="/action_page.php">
      <div class="row">
        <div class="column">
        <label for="employee">Werknemer</label>
          <input [(ngModel)]="statistic.werknemer" type="text" id="employee" name="employee" placeholder="Werknemer naam..">

        <br><br>

          <label for="project">Project</label>
          <input [(ngModel)]="statistic.project" type="text" id="project" name="project" placeholder="Project naam..">

          <br><br>

        <label for="subject">Onderwerp</label>
          <input [(ngModel)]="statistic.subproject" type="text" id="subject" name="subject" placeholder="Onderwerp naam..">

      </div>


      <div class="column">


        <input (click)="sendStatistics()" type="submit" value="Submit" id="submitButton">
      </div>
    </div>

  </form>






</div>

<div class="container2" *ngIf="returned">
  <div class="row">
    <div class="column">
      <label for="werknemerR">Werknemer</label>
      <input [(ngModel)]="statisticReturn.employee" type="text" id="werknemerR" name="werk" disabled>

      <br><br>

      <label for="project">Project</label>
      <input [(ngModel)]="statisticReturn.project" type="text" id="projectR" name="project" disabled>

      <br><br>

      <label for="subject">Onderwerp</label>
      <input [(ngModel)]="statisticReturn.subproject" type="text" id="subjectR" name="subject" disabled>

      <br><br>

      <label for="uren">uren</label>
      <input [(ngModel)]="statisticReturn.hours" type="text" id="uren" name="uren" disabled>

      <br><br>

      <label for="minuten">minuten</label>
      <input [(ngModel)]="statisticReturn.minutes" type="text" id="minuten" name="minuten" disabled>

    </div>
  </div>
</div>
