<!DOCTYPE html>
<html>
<head>
</head>
<header>
  <side-menu></side-menu>
</header>
<body>

<div class="container">
  <form action="/action_page.php">
    <div class="row">
        <div class="column">
            <label for="customer">Klant</label>
            <input type="text" id="customer" name="customer" placeholder="Klant naam..">

            <label for="project">Project</label>
            <input type="text" id="project" name="project" placeholder="Project naam..">

            <label for="subject">Onderwerp</label>
            <input type="text" id="subject" name="subject" placeholder="Onderwerp naam..">

            <label for="comment">Commentaar</label>
            <textarea id="comment" name="comment" placeholder="Scrhijf commentaar.." style="height:200px"></textarea>
        </div>

        <div class="column">
                <label for="date">Datum</label>
                <input type="text" id="date" name="date" placeholder="Voer datum in..">
    
                <label for="beginTime">Begintijd</label>
                <input type="text" id="beginTime" name="beginTime" placeholder="Voer begin tijd in..">

                <label for="endTime">Eindtijd</label>
                <input type="text" id="endTime" name="endTime" placeholder="Voer eind tijd in..">
                <br> <br> <br>  <br> <br> <br>  <br> <br> <br>  <br> <br> 
                
                <input type="submit" value="Submit" id="submitButton">
        </div>
    </div>
  
  </form>
</div>

</body>
</html>
