
<div class="container" id="container">
<h4 style="text-align: left; font-weight: bold">UREN INVOEREN</h4>
<hr size="20" noshade>

  <div class="container">
    <form >
      <div class="row">
          <div class="column">
              <label for="customer">Klant</label>
              <input [(ngModel)]="hour.hour_client" type="text" id="customer" name="customer" placeholder="Klant naam..">

              <label for="project">Project</label>
              <input [(ngModel)]="hour.hour_project_name" type="text" id="project" name="project" placeholder="Project naam..">

              <label for="subject">Onderwerp</label>
              <input [(ngModel)]="hour.hour_subproject_name" type="text" id="subject" name="subject" placeholder="Onderwerp naam..">

              <label for="comment">Commentaar</label>
              <textarea  [(ngModel)]="hour.hour_comments" id="comment" name="comment" placeholder="Scrhijf commentaar.." style="height:200px"></textarea>
          </div>

          <div class="column">
                  <label for="date">Datum</label><br>
                  <input type="date" [(ngModel)]="hour.hour_date" id="date" name="date" placeholder="Voer datum in.."><br>
                  <label for="beginTime">Begintijd</label><br>
                  <input [(ngModel)]="hour.startTime" type="time" id="beginTime" name="beginTime" placeholder="Voer begin tijd in.."><br>

                  <label for="endTime">Eindtijd</label><br>
                  <input [(ngModel)]="hour.endTime" type="time" id="endTime" name="endTime" placeholder="Voer eind tijd in.."><br>
                  <br> <br> <br>  <br> <br> <br>  <br> <br> <br>  <br> <br>
            <input id="dateFormat" type="date" value="3333-11-22" style="visibility: hidden">
                  <p style="color: red; text-align: center">{{errorMessage}}</p>
                  <input (click)="sendHour()" type="submit" value="Submit" id="submitButton">
          </div>
      </div>

    </form>
  </div>
</div>






