.standardButton{
  padding: 10px;
  border: 2px #31809c solid;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #27719c;
  font-size: 12px;

}

.standardButton:hover{
  background-color: #31809c;
}

