
  <div class="card" id="card">
    <div class="card-header">
      <p>{{hour.hour_date}} {{hour.hour_comments}} </p>
    </div>
    <div class="card-block">
      <p class="card-text">{{hour.hour_comments}}</p>
      <button class="standardButton" (click)="approveHour()">Approve</button>
      <button class="standardButton" (click)="disapproveHour()">Disapprove</button>
    </div>
  </div>

  <div class="card" id="deleteMessage" style="visibility: hidden">
    <div class="card-block">
      <p>Verzoek succesvol verwerkt</p>
    </div>
  </div>


