body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  background-color: #f5f4f4;
}
ul {
  list-style-type: none;
  height: 93px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.13);
}

li {
  float: left;

}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 72px 32px 32px 32px;
  font-size: 20px;
  text-decoration: none;
}
#logo{
  background-image: url("../images/WebEdu.png");
  background-size: 120px 20px;
  background-position: center;
  background-color: #27719c;
  padding: 40px 32px 32px 32px;
  background-repeat: no-repeat;
  color: transparent;
}

#login{
  float: right;
  margin-top: 30px;
  text-align: center;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


