<div class="container" id="container">

  <h4 style="text-align: left; font-weight: bold">GEBRUIKERS GEGEVENS</h4>
  <hr size="20" noshade>

  <ul class="list-group" style="font-size: 15px;">
    <li class="list-group-item">Naam: Vincent Spijkers</li>
    <li class="list-group-item">Email: VincentEmail</li>
    <li class="list-group-item">Rol: Werknemer</li>
    <li class="list-group-item">Extern/Intern: Intern</li>
    <li style="list-style: none; padding-top: 20px"><button id="changePassword">Verander Wachtwoord</button></li>
  </ul>
</div>
