div{
  text-align: center;

}

.yellow{
  color: white;
  background-color: #FFDF00;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;

}

.yellow:hover{
  background-color: #fafdb8;
  color: black;
}

.green{
  color: white;
  background-color: #419840;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;

}

.green:hover{
  background-color: #41b340;
}
.red{
  color: white;
  background-color: #FF6961	;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;

}

.red:hover{
  background-color: #FF5754;
  color: white;
}

