<div *ngIf="completeHour.hour_approved == red">
  <p class="red">{{completeHour.hour_approved}}</p>
  <p>{{completeHour.hour_project_name}} {{completeHour.hour_subproject_name}}{{completeHour.hour_comments}}{{completeHour.hour_client_name}}
    <br>{{completeHour.startTime}}-{{completeHour.endTime}}</p>
</div>
<div *ngIf="completeHour.hour_approved == green">
  <p class="green">{{completeHour.hour_approved}}</p>
  <p>{{completeHour.hour_project_name}}{{completeHour.hour_subproject_name}}{{completeHour.hour_comments}}{{completeHour.hour_client_name}}
    <br>{{completeHour.startTime}}-{{completeHour.endTime}}</p>
</div>
<div *ngIf="completeHour.hour_approved == yellow">
  <p class="yellow">{{completeHour.hour_approved}}</p>
  <p>{{completeHour.hour_project_name}} {{completeHour.hour_subproject_name}}{{completeHour.hour_comments}}{{completeHour.hour_client_name}}
    <br>{{completeHour.startTime}}-{{completeHour.endTime}}</p>
</div>

<!--ngClass-->
