div{
  margin: 4px;
  padding: 5px;
  height: 10%;
  width: auto;
  border-radius: 15px;
  text-align: center;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
div{

}
