

.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444444;
  overflow-x: hidden;
  padding-top: 0px;
  margin-top: 0px;

}

.sidenav a {
  padding: 70px 32px 32px 32px;
  background-image: url("../images/calandarIconkopie.png");
  background-size: 35px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: 50% 25%;
  background-color: #444444;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}


.active {
  background-color: #4CAF50;
}

.sidenav a:focus{
  color: #f1f1f1;
  background-color: #242424;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #242424;
}

#hourOverview{
  background-image: url("../images/calandarIconkopie.png");
}

#hourApprove{
  background-image: url("../images/hourApproveIcon.png");
}

#personalData{
  background-image: url("../images/accountManagmentIcon.png");
}

#accountManagement{
  background-image: url("../images/accountManagmentIcon.png");
}

#statistics{
  background-image: url("../images/statistics.png");
}

#hourInput{
  background-image: url("../images/hourInput.png");
}

#logo{
  background-image: url("../images/WebEdu.png");
  background-size: 120px 20px;
  background-position: center;
  background-color: #27719c;
  padding: 60px 32px 32px 32px;
}

#userButton{
  margin-right: 20px;
  margin-top: 20px;
}

#userButton h3{
  font-size: 15px;
  color: grey;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
