<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>CodePen - Log-in</title>
</head>

<body>
<div class="login-card">
  <h2>Log-in{{isLoggedIn}}</h2><br>
  <form>
    <input type="text" name="loginData" [(ngModel)]="emailAddress" placeholder="Username">
    <input type="password" name="pass" [(ngModel)]="password" placeholder="Password">
    <input (click)="loginButton()" type="submit" class="login login-submit" name="submit">
  </form>

  <div class="login-help">
    <a href="#">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>


</body>
