<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>CodePen - Log-in</title>
</head>

<body>
<div class="login-card">
  <h2>WebEdu Inloggen{{isLoggedIn}}</h2><br>
  <form>
    <input type="text" name="loginData" [(ngModel)]="emailAddress" placeholder="Username">
    <input type="password" name="pass" [(ngModel)]="password" placeholder="Password">
    <input (click)="loginButton()" type="submit" class="login login-submit" id="loginButton" name="submit">
  </form>

  <div id="wrong password" style="color: red; text-align: center">
    <p>{{errorMessage}}</p>
  </div>
</div>


</body>
