<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Password Changer</title>
</head>

<body>
<div class="login-card">
  <form>

    <div class="column">
      <label for="OudWachtwoord">Oud wachtwoord:</label>
      <input [(ngModel)]="Login_data.login_data_password" type="text" id="OudWachtwoord" name="OudWachtwoord" placeholder="Oud wachtwoord..">

      <label for="Wachtwoord">Nieuw wachtwoord:</label>
      <input [(ngModel)]="Login_data.login_data_password" type="text" id="Wachtwoord" name="Wachtwoord" placeholder="Nieuw wachtwoord..">

      <label for="Wachtwoord2">Herhaling wachtwoord:</label>
      <input [(ngModel)]="Login_data.login_data_password" type="text" id="Wachtwoord2" name="Wachtwoord2" placeholder="Nieuw wachtwoord..">

      <input (click)="changePassword()" type="submit" value="Veranderen" id="submitButton">
    </div>
  </form>

</div>


</body>
